src/*.exe
src/muldercoin
src/muldercoind
src/test_muldercoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.muldercoin

# Compilation and Qt preprocessor part
*.qm
Makefile
muldercoin-qt
Muldercoin-Qt.app

# Unit-tests
Makefile.test
muldercoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
